In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import re

In [2]:
df = pd.read_excel('element.xlsx', sheet_name='Sheet1')

In [3]:
df.head()

,Pr,Ba,Sr,Co,La,Fe,V,Nb,Ta,Ag,...,Y,Eu,Ho,Cr,Mg,W,Pdd,Al,Ga,PP
0,3.000,2.00,2.00,3.00,3.00,3.000,5.00,5.00,5.00,1.00,...,3.0000,2.00,3.00,3.000,2.00,6.00,3.00,3.00,3.00,5.00
1,1.179,1.61,1.44,0.61,1.36,0.645,0.54,0.64,0.64,1.28,...,1.0175,1.35,1.12,0.615,0.72,0.60,0.76,0.40,0.62,0.38
2,1.400,0.89,1.03,1.77,1.30,1.800,2.03,1.87,1.80,1.44,...,1.3200,1.15,1.44,1.740,1.17,2.03,1.69,1.58,1.66,2.10
3,8.000,8.00,8.00,6.00,8.00,6.000,6.00,6.00,6.00,8.00,...,8.0000,8.00,8.00,6.000,6.00,6.00,6.00,6.00,6.00,6.00

In [4]:
element = df.columns.values.tolist()

In [5]:
Z = df.iloc[0,:]
r = df.iloc[1,:]
x = df.iloc[2,:]
c = df.iloc[3,:]

In [6]:
f = pd.read_excel('dataset for machine learning.xlsx',sheet_name='oxygen vacancy')
f.head()
name = f['Sample name']
oxygenvacancy = f['delta']

In [9]:
def pol(tst):
    t = []
    for i in element:
        if i in tst:
            t.append([tst.index(i[0]),i])
    st=sorted(t, key = lambda x: x[0])
    h = [i[-1] for i in st]
    #print(h)
    
    p = Z[h]**2/r[h]
    
    #print(radius)
    
    pwoCo = p.drop('Co').tolist()
    
    #print(iefwoCo)
    s = re.findall(r"[-+]?\d*\.\d+|\d+", tst)[:-2]
    #print(s)
    sf = [float(i) for i in s]
    totalp= np.dot(pwoCo, sf)/sum(sf)
    return totalp

In [10]:
name = ['Sr1Ta0.16W0.04Co0.8O3']

In [11]:
P=[]
m = 0
for i in name:
    #print(i)
    P.append([i,m,pol(i)])
    m=m+1
pdata = [x[-1] for x in P]

In [12]:
def z(tst):
    t = []
    for i in element:
        if i in tst:
            t.append([tst.index(i[0]),i])
    st=sorted(t, key = lambda x: x[0])
    h = [i[-1] for i in st]
    #print(h)
    
    Zz = Z[h]
    
    #print(radius)
    
    zwoCo = Zz.drop('Co').tolist()
    
    #print(iefwoCo)
    s = re.findall(r"[-+]?\d*\.\d+|\d+", tst)[:-2]
    #print(s)
    sf = [float(i) for i in s]
    totalz= np.dot(zwoCo, sf)/sum(sf)
    return totalz

In [13]:
ZZ=[]
m = 0
for i in name:
    #print(i)
    ZZ.append([i,m,z(i)])
    m=m+1
zdata = [x[-1] for x in ZZ]

In [14]:
def electronegativity(tst):
    t = []
    for i in element:
        if i in tst:
            t.append([tst.index(i[0]),i])
    st=sorted(t, key = lambda x: x[0])
    h = [i[-1] for i in st]
    #print(h)
    
    xx = x[h]
    
    #print(radius)
    
    xwoCo = xx.drop('Co').tolist()
    
    #print(iefwoCo)
    s = re.findall(r"[-+]?\d*\.\d+|\d+", tst)[:-2]
    #print(s)
    sf = [float(i) for i in s]
    totalx= np.dot(xwoCo, sf)/sum(sf)
    return totalx

In [15]:
XX=[]
m = 0
for i in name:
    #print(i)
    XX.append([i,m,electronegativity(i)])
    m=m+1
xxdata = [x[-1] for x in XX]

In [16]:
def conditiona(x): return c[x] ==8
def conditionb(x): return c[x] == 6
def condition(x): return x==1

In [17]:
def ra(tst):
    t = []
    for i in element:
        if i in tst:
            t.append([tst.index(i[0]),i])
    st=sorted(t, key = lambda x: x[0])
    h = [i[-1] for i in st]
    #print(h)
    ha = [element for idx, element in enumerate(h) if conditiona(element)]
    
    rr = r[ha]
    
    #print(radius)
    
    #rawoCo = rr.drop('Co').tolist()
    
    #print(iefwoCo)
    s = re.findall(r"[-+]?\d*\.\d+|\d+", tst)[0:len(ha)]
    #print(s)
    #print(s)
    sf = [float(i) for i in s]

    totalra= np.dot(rr, sf)/sum(sf)
    return totalra

In [18]:
RA=[]
m = 0
for i in name:
    #print(i)
    RA.append([i,m,ra(i)])
    m=m+1
radata = [x[-1] for x in RA]

In [19]:
def rb(tst):
    t = []
    for i in element:
        if i in tst:
            t.append([tst.index(i[0]),i])
    st=sorted(t, key = lambda x: x[0])
    h = [i[-1] for i in st]
    #print(h)
    hb = [element for idx, element in enumerate(h) if conditionb(element)]
    ha = [element for idx, element in enumerate(h) if conditiona(element)]
    rr = r[hb]
    
    #print(radius)
    
    #rawoCo = rr.drop('Co').tolist()
    
    #print(iefwoCo)
    s = re.findall(r"[-+]?\d*\.\d+|\d+", tst)[len(ha):len(hb)+len(ha)]
    #print(s)
    #print(s)
    sf = [float(i) for i in s]

    totalrb= np.dot(rr, sf)/sum(sf)
    return totalrb

In [20]:
RB=[]
m = 0
for i in name:
    #print(i)
    RB.append([i,m,rb(i)])
    m=m+1
rbdata = [x[-1] for x in RB]

In [21]:
tolerancefactordata = [(a + 1.34)/(b+1.34)/2**0.5 for (a, b) in zip(radata,rbdata)]

In [22]:
exportdata= pd.DataFrame({'Samples': name, 'Oxygen vacancy':oxygenvacancy,
                     'Polarization': pdata,'Charge': zdata, 'Electronegativity': xxdata,
                     'Radius A-site':radata, 'Radius B-site':rbdata, 'Tolerance factor': tolerancefactordata})

ValueError: array length 1 does not match index length 221

In [49]:
exportdata.to_excel('data for ML with tolerance factor.xlsx')

In [50]:
f = pd.read_excel('mobility and volcano.xlsx', sheet_name='volcano')

In [51]:
f.head()

            Unnamed: 0  oxygen vacancy     ASPR
0         Sr1V0.2Co0.8         0.27866  1.57886
1        Sr1Nb0.2Co0.8         0.29193  1.04434
2        Sr1Ta0.2Co0.8         0.29459  0.92201
3   Sr1Nb0.1Ta0.1Co0.8         0.39472  0.68911
4  Sr1Ta0.15V0.05Co0.8         0.37355  0.16529

In [66]:
name = f['Unnamed: 0']
oxygenvacancy = f['oxygen vacancy']
#delta = f['delta']

In [53]:
def pol(tst):
    t = []
    for i in element:
        if i in tst:
            t.append([tst.index(i[0]),i])
    st=sorted(t, key = lambda x: x[0])
    h = [i[-1] for i in st]
    #print(h)
    
    p = Z[h]**2/r[h]
    
    #print(radius)
    
    pwoCo = p.drop('Co').tolist()
    
    #print(iefwoCo)
    s = re.findall(r"[-+]?\d*\.\d+|\d+", tst)[:-1]
    #print(s)
    sf = [float(i) for i in s]
    totalp= np.dot(pwoCo, sf)/sum(sf)
    return totalp

In [54]:
P=[]
m = 0
for i in name:
    #print(i)
    P.append([i,m,pol(i)])
    m=m+1
pdata = [x[-1] for x in P]

In [55]:
def z(tst):
    t = []
    for i in element:
        if i in tst:
            t.append([tst.index(i[0]),i])
    st=sorted(t, key = lambda x: x[0])
    h = [i[-1] for i in st]
    print(h)
    
    Zz = Z[h]
    
    #print(radius)
    
    zwoCo = Zz.drop('Co').tolist()
    
    #print(iefwoCo)
    s = re.findall(r"[-+]?\d*\.\d+|\d+", tst)[:-1]
    #print(s)
    sf = [float(i) for i in s]
    totalz= np.dot(zwoCo, sf)/sum(sf)
    return totalz

In [56]:
ZZ=[]
m = 0
for i in name:
    #print(i)
    ZZ.append([i,m,z(i)])
    m=m+1
zdata = [x[-1] for x in ZZ]

['Sr', 'V', 'Co']
['Sr', 'Nb', 'Co']
['Sr', 'Ta', 'Co']
['Sr', 'Nb', 'Ta', 'Co']
['Sr', 'Ta', 'V', 'Co']
['Ba', 'Sr', 'Fe', 'Co']
['Sr', 'Sc', 'Nb', 'Co']
['Sr', 'Ta', 'V', 'Co']
['Sr', 'Ta', 'V', 'Co']
['Ba', 'Bi', 'Sc', 'Co']
['Sr', 'Sc', 'Co']
['Sr', 'Ag', 'Nb', 'Co']
['La', 'Sr', 'Co']
['Pr', 'Ba', 'Sr', 'Co']
['La', 'Sr', 'Fe', 'Co']
['La', 'Sr', 'Ta', 'V', 'Co']
['La', 'Sr', 'Ta', 'V', 'Co']
['La', 'Sr', 'Ta', 'V', 'Co']
['Sr', 'Sc', 'Ta', 'Co']
['La', 'Sr', 'Ta', 'V', 'Co']

In [57]:
def electronegativity(tst):
    t = []
    for i in element:
        if i in tst:
            t.append([tst.index(i[0]),i])
    st=sorted(t, key = lambda x: x[0])
    h = [i[-1] for i in st]
    #print(h)
    
    xx = x[h]
    
    #print(radius)
    
    xwoCo = xx.drop('Co').tolist()
    
    #print(iefwoCo)
    s = re.findall(r"[-+]?\d*\.\d+|\d+", tst)[:-1]
    #print(s)
    sf = [float(i) for i in s]
    totalx= np.dot(xwoCo, sf)/sum(sf)
    return totalx

In [58]:
XX=[]
m = 0
for i in name:
    #print(i)
    XX.append([i,m,electronegativity(i)])
    m=m+1
xxdata = [x[-1] for x in XX]

In [59]:
def conditiona(x): return c[x] ==8
def conditionb(x): return c[x] == 6
def condition(x): return x==1

In [60]:
def ra(tst):
    t = []
    for i in element:
        if i in tst:
            t.append([tst.index(i[0]),i])
    st=sorted(t, key = lambda x: x[0])
    h = [i[-1] for i in st]
    #print(h)
    ha = [element for idx, element in enumerate(h) if conditiona(element)]
    
    rr = r[ha]
    
    #print(radius)
    
    #rawoCo = rr.drop('Co').tolist()
    
    #print(iefwoCo)
    s = re.findall(r"[-+]?\d*\.\d+|\d+", tst)[0:len(ha)]
    #print(s)
    #print(s)
    sf = [float(i) for i in s]

    totalra= np.dot(rr, sf)/sum(sf)
    return totalra

In [61]:
RA=[]
m = 0
for i in name:
    #print(i)
    RA.append([i,m,ra(i)])
    m=m+1
radata = [x[-1] for x in RA]

In [62]:
def rb(tst):
    t = []
    for i in element:
        if i in tst:
            t.append([tst.index(i[0]),i])
    st=sorted(t, key = lambda x: x[0])
    h = [i[-1] for i in st]
    #print(h)
    hb = [element for idx, element in enumerate(h) if conditionb(element)]
    ha = [element for idx, element in enumerate(h) if conditiona(element)]
    rr = r[hb]
    
    #print(radius)
    
    #rawoCo = rr.drop('Co').tolist()
    
    #print(iefwoCo)
    s = re.findall(r"[-+]?\d*\.\d+|\d+", tst)[len(ha):len(hb)+len(ha)]
    #print(s)
    #print(s)
    sf = [float(i) for i in s]

    totalrb= np.dot(rr, sf)/sum(sf)
    return totalrb

In [64]:
RB=[]
m = 0
for i in name:
    #print(i)
    RB.append([i,m,rb(i)])
    m=m+1
rbdata = [x[-1] for x in RB]

In [65]:
tolerancefactordata = [(a + 1.34)/(b+1.34)/2**0.5 for (a, b) in zip(radata,rbdata)]

In [67]:
exportdata= pd.DataFrame({'Samples': name, 'Oxygen vacancy':oxygenvacancy,
                     'Polarization': pdata,'Charge': zdata, 'Electronegativity': xxdata,
                     'Radius A-site':radata, 'Radius B-site':rbdata, 'Tolerance factor': tolerancefactordata})

In [68]:
exportdata.to_excel('volcano with tolerance factor.xlsx')

In [57]:
data= pd.DataFrame({'Samples': name[0:150],'Oxygen vacancy': delta[0:150], 
                     'Polarization': pdata[0:150],'Charge': zdata[0:150], 'Electronegativity': xxdata[0:150],
                     'Radius A-site':radata[0:150], 'Radius B-site':rbdata[0:150]})

NameError: name 'delta' is not defined

In [25]:
SCTW = pd.DataFrame({'Samples': name[0:150],'Oxygen vacancy': 'test', 
                     'Polarization': pdata[0:150],'Charge': zdata[0:150], 'Electronegativity': xxdata[0:150],
                     'Radius A-site':radata[0:150], 'Radius B-site':rbdata[0:150]})

In [22]:
train= pd.DataFrame({'Samples': name[0:150],'Oxygen vacancy': delta[0:150], 
                     'Polarization': pdata[0:150],'Charge': zdata[0:150], 'Electronegativity': xxdata[0:150],
                     'Radius A-site':radata[0:150], 'Radius B-site':rbdata[0:150]})

In [26]:
train.loc[0]

Samples              Sr1Ta0.16W0.04Co0.8O3-δ
Oxygen vacancy                            NaN
Polarization                         9.523148
Charge                               2.533333
Electronegativity                       1.166
Radius A-site                            1.44
Radius B-site                          0.6144
Name: 0, dtype: object

In [160]:
train.to_excel('train.xlsx')

In [58]:
exportdata= pd.DataFrame({'Samples': name,
                     'Polarization': pdata,'Charge': zdata, 'Electronegativity': xxdata,
                     'Radius A-site':radata, 'Radius B-site':rbdata})

In [59]:
exportdata.to_excel('volcano.xlsx')

In [26]:
SCTW.to_excel('SCTW.xlsx')